<div class="text-right pull-right">
  <%= if logged_in?(@conn) do %>
    <span><%= user_display_name(@conn) %></span>
    <br>
    <%= link "Logout", to: logout_path(@conn, :delete), method: :delete %>
  <% else %>
    <%= link "Login", to: login_path(@conn, :request, :identity) %>
  <% end %>
</div>
